body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    border: 2px solid #0c3e64;
    width:600px;
    height: 600px;
    background-color: #0c3e64;
}

.green-bar{
    width:100%;
    height: 60px;
    background-color: rgb(58, 186, 58);
    margin-top: 30px;
    border-color: transparent;
}

span{
    position: absolute;
    color:white;
    font-size: 50px;
    bottom:0px;
    left:10%;
}

.starting-container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid #0c3e64;
    width:500px;
    height: 400px;
    background-color: #0c3e64;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.starting-container.closed{
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

i{
    font-size: 100px;
}

.hidden{
    display: none;
}